@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Zeus';
    src: url('../Font/Norse-Bold.otf') format('opentype');
}

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'sans-serif';
}