$aside-font-color: hsl(0, 0%, 91%);
$greyish-background: hsl(0, 0%, 95%);
$label-font-color: hsl(0, 0%, 20%);
$box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;