$aside-font-color: hsl(0, 0%, 91%);
$greyish-background: hsl(0, 0%, 95%);
$label-font-color: hsl(0, 0%, 20%);
$box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$button-color: hsl(231, 24%, 43%);