@use 'default' as *;
@use 'variables' as *;

body {
    display: flex;
    height: 100vh;
}

aside {
    background-image: url('../images/jonny-mckenna-4igCpD-Lnfg-unsplash.jpg');
    background-size: cover;
    height: 100%;
    width: 50%;
    color: $aside-font-color;

    .zeus-image {
        display: flex;
        justify-content: space-evenly;
        background-color: hsla(0, 2%, 11%, 0.1);
        font-size: 8rem;
        margin-top: 18rem;
        span {
            font-family: 'Zeus';
        }
    }

    .atribution {
        margin-top: 25rem;
        text-align: center;
    }
}

main {
    height: 100%;
    .intro {
        //box-sizing: content-box;
        font-size: 1.7rem;
        font-weight: 600;
        background-color: $greyish-background;
        padding: 6rem 5rem;

        p:nth-child(2) {
            margin-top: 2rem;
        }
    }

    h1 {
        padding-left: 1.5rem;
    }

    .container {
        display: flex;
        padding: 1rem 1.5rem;
        column-gap: 20px;
        flex-wrap: wrap;
        width: 50%;
        
        label {
            font-weight: 300;
            color: $label-font-color
        }
    }

    .below-container {
        background-color: $greyish-background;
        //height: 30%;
    }
}

